@font-face {font-family: "basicsans";
    src: url("basicsanssf.ttf");}

body {background-color: white;
    color : #545871;
    font-family : Basicsans;}

h1 {font-size = 10 px; text-align: center;}

a { color: #FFFFFF;
    text-decoration: none;}

input {background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6DBDA;
    border-radius: 5px;
    opacity: 1;
    top: 449px;
    left: 960px;
    width: 550px;
    height: 30px;}

textarea {background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E6DBDA;
    border-radius: 5px;
    opacity: 1;
    width: 550px;}

body section1 {position: absolute;
    left: 650px;}

aside, section1 {
    display: inline-block;
    text-align: justify;
	margin-right: 20px;}

button1, button2 {float: right;text-align:center;display: inline-block; cursor: pointer;}

button { background: #545871 0% 0% no-repeat padding-box;
    padding: 10px 30px;
    border: 1px solid #545871;
    border-radius: 100px;
    opacity: 1;}

button1 {background: #545871 0% 0% no-repeat padding-box;
    padding: 10px 30px;
    border: 1px solid #545871;
    border-radius: 100px;
    opacity: 1;
    color: #FFFFFF;}

button2 {background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 10px 77px;
    border: 1px solid #545871;
    border-radius: 100px;
    color: #545871;}

#popupContent {margin: auto; display: block; text-align: center;}
#bouton_popup {display: block; float: right; padding: 5px 10px; width: 150px;}
#in_popup {width: 100px; background-color:#545871; border-color:#545871; color:#FFFFFF;}
