#title { border-bottom: 1px solid grey}
h { font-size: 17px;
    font-family: Basicsans;}

li { font-family: Basicsans;
    font-size: 15px;}

#Q {border-bottom: 1px solid #9597A6;
    border-radius: 7px;
    padding: 7px;
    width: 600px;
    margin-left: 30%;
    box-shadow: 8px 8px 12px #aaa;}

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    /* on centre le menu dans la page */
    text-align: left;
}
#menu-deroulant li {
    /* on place les liens du menu horizontalement */
    display: block;
}
#menu-deroulant ul li {
    /* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {
    text-decoration: none;
    display: block;
    color:#000;
}
#menu-deroulant ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#menu-deroulant li:hover li {
    background-color: #9597A6;
    border-bottom: 1px solid #9597A6;
    width: 600px;
    height: 50px;
    border-radius: 3px;
}

#Q1:hover #Q2 {
    padding: 0;
}


#bouton_ajouter:hover
{
    background-color: #636780;
}

#bouton_supprimer:hover
{
    background-color: #636780;
}