#section_centrale {
    position: absolute;
    left: 18%;
    top: 50px;
}

select, input[type=text] {
    width: 100%;
}

table {
    display: block;
    overflow: auto;
    white-space: nowrap;
}

.button_like {
    margin:auto;
    display:block;
}
