@font-face
{
    font-family: "basicsans";
    src: url("../fonts/basicsanssf.ttf");
}

h1
{
    color: #545871;
    font-size: 36px;
}

div20
{
    text-align: center;
    width: 50%;
    height: 100%;
    flex-direction: column;
    font-size: 38px;
    float: left;
}

div21
{
    display: flex;
    flex-direction: column;
    font-size: 38px;
    float: right;
    justify-content: flex-end;
}

.pilote, .personnelNaviguant, .personnelSol
{
    background-color: #DCE9FC;
    background-position: bottom 50px right 100px;
    height: 144px;
    width: 800px;
    margin-left: 60px;
    vertical-align: middle;
}

#selectionnerPersNaviguant, #selectionnerPersSol, #selectionnerPilote
{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #636780;
    margin-right: 140px;
    height: 144px;
    width: 293px;
}

a:hover
{
    text-decoration: underline;
}