@font-face
{
    font-family: "basicsans";
    src: url("../fonts/basicsanssf.ttf");
}

#table_tests_associes {
    display: block;
    white-space: nowrap;
    max-height: 100%;
}

h1
{
    color: #545871;
    font-size: 36px;
    text-align: left;
    margin-left: 50px;
}

#demanderIdentifiant {
    position: absolute;
    left: 18%;
    top: 50px;
}

.testPsycho
{
    background-color: #DCE9FC;
    background-position: bottom 50px right 100px;
    height: 144px;
    width: 800px;
    margin-left: 60px;
    vertical-align: middle;
    text-margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passer
{
    background-color: #636780;
    background-position: bottom 50px right 100px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 50px;
    vertical-align: middle;
    height: 144px;
    width: 293px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover
{
    text-decoration: underline;
    background-color: #474e71;
}

.footer
{
    text-align: right;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #545871;
    text-transform: uppercase;
    opacity: 1;
    display: flex;
    justify-content: end;
    position: fixed;
    margin-left: 650px;
}

legend
{
    color: red;
}

fieldset
{
    border-radius: 15px;
    padding: 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
    margin-right: unset;
    width: 900px;
}

input[type=submit]
{
    width:100px;
    margin-left:5px;
    border-radius: 60px;
    color: black;
    background-color: white;
    font-size: 15px;

}

input[type=submit]:hover
{
    background-color: grey;
}

#idUtilisateur
{
    border: 1px solid grey;
}

#labelPrerequis
{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
