@font-face
{
    font-family: "basicsans";
    src: url("../fonts/basicsanssf.ttf");
}

#infoProduit, #coordonnees, #infoProduitbis
{
    padding-left: 10px;
    color: #707070;
    text-decoration: underline;
    text-decoration-color: #707070;
    font-size: 25px;
}
