#section_centrale {
    position: absolute;
    left: 18%;
    top: 50px;
    height: 60%;
}

table {
    display: block;
    overflow: auto;
    white-space: nowrap;

    table-layout: fixed;
    width: 50%;
    max-height: 100%;
}

.button_like {
    margin:auto;
    display:block;
}
