ul{

}
#enoncebis{
    text-align: left;
    font: Bold 25px/28px Basic Sans;
    letter-spacing: 2.5px;
    color: #545871;
    opacity: 1;
}

#informationbis{
    text-align: center;
    font: Bold 25px/32px Basic Sans;
    letter-spacing: 0;
    color: #9597A6;
    opacity: 1;
}

#global{
    width: 100%;
}
#enonce{
    float: left;
}
#information{
}