@font-face {font-family: "basicsans";
    src: url("../fonts/basicsanssf.ttf");}

html {height: 100%;}

body {background-color: white;
    height: 100%;
    font-family: "Basicsans";
    font-weight: bold;
    margin: 0; bottom: 0;
    overflow: hidden;}

label {color: #545871;}

button:hover {cursor: pointer;}


input, textarea { border: 1px solid darkgray;
    border-radius: 4px;
    height: 30px;
    color: gray;
    display: inline-block;}

div1 {text-align: center;}